<nav class="navbar navbar-inverse">
    <div clas="container-fluid">

        <ul class="nav navbar-nav">

            <li class="active"><a class="navbar-brand" href="/">Mongo Scraper</a><a href="/">Home</a>
                <a href="/saved">Saved Articles</a>

            </li>
        </ul>
    </div>
</nav>
<div class="jumbotron text-center">
    <div class="overlay">
    </div>
    <div class="background-image">

    </div>
    <div class="caption">
        <h1 class="display-4">Saved Articles</h1>
        <p class="lead">Your Saved Articles</p>
    </div>
</div>
<div class="container-fluid" id="articles">

</div>
<footer class="footer">
    <div class="container">
        <p>Tampa Bay Times</p>
    </div>
</footer>

<script src="saved.js"></script>